name: haruharu-deploy-staging
on:
  push:
    branches:
      - Setting/#49

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 소스코드 체크아웃
        uses: actions/checkout@v4

      - name: JDK 21 설치
        uses: actions/setup-java@v4
        with:
          distribution: liberica
          java-version: 21

      - name: Gradle 설정 및 캐싱
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false

      - name: application.yml files
        run: |
          mkdir -p ./src/main/resources
          cd ./src/main/resources
          echo "${{ secrets.APPLICATION_YML }}" > ./application.yml
          echo "${{ secrets.APPLICATION_STAGING_YML }}" > ./application-staging.yml
          echo "${{ secrets.APPLICATION_S3_YML }}" > ./application-s3.yml
          echo "${{ secrets.APPLICATION_AI_YML }}" > ./application-ai.yml

      - name: Firebase 서비스계정 키 파일 생성
        run: |
          mkdir -p ./src/main/resources
          cd ./src/main/resources
          echo '${{ secrets.FIREBASE_JSON }}' > ./firebase.json

      - name: Gradlew 실행 권한 부여
        run: chmod +x gradlew

      - name: Spring Boot JAR 빌드
        run: ./gradlew bootJar

      - name: Docker Buildx 설정
        uses: docker/setup-buildx-action@v3

      - name: Docker Hub 로그인
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker 이미지 빌드 및 푸시
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/haruharu-staging:latest

      - name: AWS EC2에 배포
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          port: 22
          script: |
            mkdir -p ~/haruharu-staging/nginx
            cd ~/haruharu-staging
            
            # 환경변수 파일 생성
            echo 'DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}' > .env
            echo 'DB_ROOT_PASSWORD=${{ secrets.DB_ROOT_PASSWORD }}' >> .env
            echo 'DB_USER=${{ secrets.DB_USER }}' >> .env
            echo 'DB_PASSWORD=${{ secrets.DB_PASSWORD }}' >> .env
            
            # docker-compose 파일 생성
            echo '${{ secrets.DOCKER_COMPOSE_STAGING_YML }}' > docker-compose-staging.yml
            
            # nginx 설정 파일 생성
            echo '${{ secrets.NGINX_STAGING_CONF }}' > ./nginx/staging.conf
            
            # Docker 이미지 가져오기
            docker pull ${{ secrets.DOCKER_USERNAME }}/haruharu-staging:latest
            
            # 기존 컨테이너 중지
            docker-compose -f docker-compose-staging.yml down --remove-orphans || true
            
            docker-compose -f docker-compose-staging.yml up -d --build
            docker image prune -f
            
            docker images "${{ secrets.DOCKER_USERNAME }}/haruharu-staging" --format "{{.ID}} {{.Tag}}" | \
            grep -v "latest" | \
            awk '{print $1}' | \
            xargs -r docker rmi -f || true
