name: haruharu-deploy-staging
on:
  push:
    branches:
      - Setting/#49
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 소스코드 체크아웃
        uses: actions/checkout@v4

      - name: JDK 21 설치
        uses: actions/setup-java@v4
        with:
          distribution: liberica
          java-version: 21

      - name: Gradle 캐싱
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: application.yml files 및 firebase.json 생성
        run: |
          mkdir -p ./src/main/resources
          cd ./src/main/resources
          echo "${{ secrets.APPLICATION_YML }}" > ./application.yml
          echo "${{ secrets.APPLICATION_STAGING_YML }}" > ./application-staging.yml
          echo "${{ secrets.APPLICATION_S3_YML }}" > ./application-s3.yml
          echo "${{ secrets.APPLICATION_AI_YML }}" > ./application-ai.yml
          echo "${{ secrets.FIREBASE_JSON }}" > ./firebase.json

      - name: Gradlew 실행 권한 부여
        run: chmod +x gradlew

      - name: Spring Boot JAR 빌드
        run: ./gradlew bootJar

      - name: Docker Hub 로그인
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker 이미지 빌드 및 푸시
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/haruharu-staging:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/haruharu-staging:latest

      - name: AWS EC2에 배포
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          port: 22
          script: |
            cd ~/haruharu-staging
            
            cat > .env << 'EOF'
            DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
            MYSQL_ROOT_PASSWORD=${{ secrets.MYSQL_ROOT_PASSWORD }}
            MYSQL_USER=${{ secrets.MYSQL_USERNAME }}
            MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }}
            EOF

            cat > docker-compose-staging.yml << 'EOF'
            ${{ secrets.DOCKER_COMPOSE_STAGING_YML }}
            EOF
            
            docker-compose pull app
            docker-compose up -d --force-recreate --no-deps app
            # haruharu-staging 관련 오래된 이미지만 삭제 (latest 제외)
            docker images "${{ secrets.DOCKER_USERNAME }}/haruharu-staging" --format "{{.ID}} {{.Tag}}" | \
            grep -v "latest" | \
            awk '{print $1}' | \
            xargs -r docker rmi -f || true
