name: pull_request CI

on:
  pull_request:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 소스코드 체크아웃
        uses: actions/checkout@v4

      - name: JDK 21 설치
        uses: actions/setup-java@v4
        with:
          distribution: liberica
          java-version: 21

      - name: Gradle 설정 및 캐싱
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false

      - name: application.yml files 생성
        run: |
          mkdir -p ./src/main/resources
          cd ./src/main/resources
          echo "${{ secrets.APPLICATION_YML }}" > ./application.yml
          echo "${{ secrets.APPLICATION_STAGING_YML }}" > ./application-staging.yml
          echo "${{ secrets.APPLICATION_S3_YML }}" > ./application-s3.yml
          echo "${{ secrets.APPLICATION_AI_YML }}" > ./application-ai.yml

      - name: Firebase 서비스계정 키 파일 생성
        run: |
          mkdir -p ./src/main/resources
          cd ./src/main/resources
          echo '${{ secrets.FIREBASE_JSON }}' > ./firebase.json

      - name: Gradlew 실행 권한 부여
        run: chmod +x gradlew

      - name: 테스트 실행
        run: ./gradlew test --parallel --continue
        # ./gradlew test --stacktrace --info은 테스트 실행 시 자세한 로그와 오류 추적을 제공하여 문제 해결에 도움을 줍니다. 필요 시 사용하세요

      - name: 빌드 확인
        run: ./gradlew bootJar --parallel --build-cache